<!DOCTYPE html>
<html>
<head>
    <title>ハイアンドローゲーム結果</title>
</head>
<body>
    <h1>ハイアンドローゲーム結果</h1>
    <p>偽チバニーのカード: <%= currentNumber %></p>
    <p>あなたの選択: <%= playerChoice %></p>
    <p>自分が引いたカード: <%= nextNumber %></p>
    <p>結果: <%= result %></p>
    <a href="/highlow">もう一度プレイする</a>
</body>
</html>